# OS metadata
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local logs
*.log
todo.txt
antigravity-leftover.md
misc/
node_modules

# Astro & build output
.astro/
dist/
package-lock.json